body,
ul,
li,
p{
    margin: 0px;
    padding: 0px;
    list-style: none;
    font-size: 1.3rem;
    font-family: arial;
}

ul{
    display: flex;
    flex-wrap: wrap;
}

li{
    height: 40vh;
    flex-grow: 1;
}

li:last-child{
    flex-grow: 10;
}

img{
    max-height: 100%;
    max-width: 100%;
    object-fit: cover;
    vertical-align: bottom;
}

